<!DOCTYPE html>
<html ng-app="addressGeneratorApp">
    <head>
        <meta charset="utf-8">
        <script type="text/javascript" src="../bower_components/angular/angular.js"></script>
        <script type="text/javascript" src="../bower_components/sjcl/sjcl.js"></script>
        <script type="text/javascript" src="../bower_components/bitcore/bitcore.min.js"></script>
        <script type="text/javascript" src="../bower_components/bitcore/bitcore.js"></script>
        <script type="text/javascript" src="../bower_components/jquery/dist/jquery.js"></script>
        <script type="text/javascript" src="../bower_components/ng-lodash/build/ng-lodash.min.js"></script>
        <script type="text/javascript" src="../bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="../js/services.js"></script>
        <script type="text/javascript" src="../js/controllers.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <title>Address Generator</title>
    </head>
    <body ng-controller="addressGeneratorController">
        <div align="center">
            <h2>Address generator</h2>
        </div>
        <div class="row">
            <div class="col-xs-5">
                <p class="alert alert" style="color: white">
                    .</p>
            </div>
            <div class="col-xs-6">
                <strong><p id="errorMessage" class="alert alert-danger" style="display: none">
                    {{errorMessage}}</p></strong>
                <strong><p id="successMessage" class="alert alert-success" style="display: none">
                    {{successMessage}}</p></strong>
                <strong><p id="statusMessage" class="alert alert-info" style="display: none">
                    {{statusMessage}}</p></strong>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-lg-offset-1">
                <form>
                    <label>Number of signatures:</label>
                    <select class="form-group" id="selectM">
                        <option id="1">1</option>
                        <option id="2" selected="selected">2</option>
                        <option id="3">3</option>
                        <option id="4">4</option>
                        <option id="5">5</option>
                        <option id="6">6</option>
                    </select><br>
                    <label>Number of copayers:</label>
                    <select class="form-group" id="selectN">
                        <option id="1">1</option>
                        <option id="2" selected="selected">2</option>
                        <option id="3">3</option>
                        <option id="4">4</option>
                        <option id="5">5</option>
                        <option id="6">6</option>
                    </select>
                    <div class="form-group" id="form1">
                        <label for="backUp1">Insert your Backup JSON 1:</label>
                        <input type="text" class="form-control" ng-model="backUp1">
                         <label for="pwd">Password:</label>
                        <input type="password" class="form-control" ng-model="password1">
                    </div>
                    <div class="form-group" id="form2">
                        <label for="backUp2">Insert your Backup JSON 2:</label>
                        <input type="text" class="form-control" ng-model="backUp2">
                         <label for="pwd">Password:</label>
                        <input type="password" class="form-control" ng-model="password2">
                    </div>
                    <div class="form-group" id="form3">
                        <label for="backUp3">Insert your Backup JSON 3:</label>
                        <input type="text" class="form-control" ng-model="backUp3">
                         <label for="pwd">Password:</label>
                        <input type="password" class="form-control" ng-model="password3">
                    </div>
                    <div class="form-group" id="form4">
                        <label for="backUp4">Insert your Backup JSON 4:</label>
                        <input type="text" class="form-control" ng-model="backUp4">
                         <label for="pwd">Password:</label>
                        <input type="password" class="form-control" ng-model="password4">
                    </div>
                    <div class="form-group" id="form5">
                        <label for="backUp5">Insert your Backup JSON 5:</label>
                        <input type="text" class="form-control" ng-model="backUp5">
                         <label for="pwd">Password:</label>
                        <input type="password" class="form-control" ng-model="password5">
                    </div>
                    <div class="form-group" id="form6">
                        <label for="backUp6">Insert your Backup JSON 6:</label>
                        <input type="text" class="form-control" ng-model="backUp6">
                         <label for="pwd">Password:</label>
                        <input type="password" class="form-control" ng-model="password6">
                    </div>
                    <button class="btn btn-success" ng-click="getDataInput()">Scan addresses</button><br><br>
                    <div id="button2" style="display: none;">
                        <div class="form-group">
                            <label for="addr">Insert destination address:</label>
                            <input type="text" class="form-control" ng-model="addr">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success" ng-click="send()">Retrieve amount</button>
                        </div>
                    </div>
                <form>
            </div>
            <div class="col-lg-6 col-lg-offset-1">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-12">

                            
                        </div>
                    </div>
                    <textarea ng-model="textArea" rows="30" style="width: 100%"></textarea>
                </div>
            </div>
        </div>
    </body>
</html>